/* imports das fontes */

/* TITILLIUM WEB */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

/* INTER */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* QUICKSAND */
@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

/* Classes genéricas */
.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* Header Top */
header .header-top {
    display: none;
}

/* Header Bottom */


header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}

/* somente links "filhos diretos" */
header .header-bottom nav>a {
    padding: 30px 0;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav>a:hover {
    background-color: #F9AA01;

}

header .header-bottom nav>a:last-of-type {
    border-bottom: none;
}

/* ícone de mídias sociais possibilidade position 
header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px);
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

header .header-bottom nav .midias-sociais {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* gap é o espaçamento entre os elementos, funciona em linha e também em coluna. */
    gap: 50px;
}

/* menu lateral direito - ícones */
header .header-bottom .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -19vw;
    width: 19vw;
    height: 170px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: right 0.4s;
}

/* MAIN */
main {
    margin-top: 60px;
}

/* Banner */
.banner {
    width: 100%;
    height: 606px;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rebeccapurple;
    background-image: url(../assets/images/fundo-banner-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.banner h1 {
    font-family: TitilliumWeb-Black;
    font-size: 40px;
    text-shadow: 0 0 7px #FD4255;

}

.banner .botao-sobre {
    width: 171px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1B1426;
    text-decoration: none;
    font-family: TitilliumWeb-Bold;
    font-size: 24px;
    border-radius: 8px;
}

/* Sessão Jogos */
main .jogos {
    width: 100%;
    height: 590px;
    background-color: #1B1426;
}

main .jogos .jogos-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* vertical - column */
    align-items: center;
}

/* Footer */
footer {
    padding-top: 60px;
    padding-bottom: 30px;
    box-shadow: inset 0 30px 60px rgba(0, 0, 0, 1);
    background-image: url(../assets/images/fundo-footer-mobile.png);
    background-position: top;
    background-size: contain;
}

footer #sobre {
    width: 100%;
    height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(250, 128, 114, .3); */
}
footer #sobre > img { width: 110px; }

footer #sobre p {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
}

footer #midias-sociais-footer {
    /* background-color: #FD4255; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}


footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1530px;
}
/* apagar */
footer .footer-top > div {
    border: 2px solid white;
}

footer .footer-top .titulos-footer h3 {
    font-family: TitilliumWeb-Black;
    font-size: 30px;
}

footer .footer-top .titulos-footer hr {
    border: 2px solid #F9AA01;
    width: 112px;
}

/* lista ul */
footer .footer-top .menu-footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
/* ítens da lista */
footer .footer-top .menu-footer li {
    list-style-type: none;
    width: 110px;
    margin-bottom: 20px;
    /* border: 1px solid #FD4255; */
}
footer .footer-top .menu-footer a {
    color: white;
    text-decoration: none;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
}

footer .footer-top .menu-footer a:before {
    content: "\2015";
    margin-right: 10px;
    color: #F9AA01;
}

/* Contatos */

footer .footer-top #contatos {
    color: white;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
}

footer .footer-top #contatos p {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

footer .footer-top #contatos p span {
    color: #F9AA01;
}

/* newsletter */

footer #newsletter input,
footer #newsletter button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
}

footer #newsletter input {
    background-color: transparent;
    background-image: linear-gradient(to right bottom, rgba(239, 239, 239, .6), rgba(239, 239, 239, .1));
    backdrop-filter: blur(6px);
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    font-family: TitilliumWeb-Regular;
    font-size: 16px;
}

footer #newsletter input::placeholder {
    color: white;
}

footer #newsletter button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
}












/* Tablets >= 768px*/
@media screen and (min-width: 768px) {}

/* Desktops >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
        /* border: 3px dotted yellowgreen; */
    }

    /* HEADER  */
    header {
        position: static;
        height: 140px;
    }

    /* Header Top */
    header .header-top {
        /* block é o valor default da maioria dos elementos */
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        width: 415px;
        display: flex;
        justify-content: space-between;

        font-family: Inter;
        font-size: 14px;
        font-weight: 400;

        /* border: 2px solid white; */
    }

    header .header-top .contatos>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        /* border: 1px solid yellow; */
    }

    header .header-top .midias-sociais {
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid white; */
    }

    /* Esconde elementos desnecessários */
    header .menu-hamburger,
    header .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    /* Header Bottom */
    header .header-bottom {
        height: 90px;
    }

    header .header-bottom img.logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
    }

    header .header-bottom nav>a {
        border: none;
        font-size: 14px;
    }

    header .header-bottom nav>a:hover {
        background-color: transparent;
        color: #F9AA01;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        width: 120px;
        height: auto;
        background-color: transparent;
    }

    /* MAIN */
    main {
        margin-top: 0;
    }

    /* Banner */
    main .banner {
        height: 722px;
        /* alterar a imagem de fundo */
        background-image: url(../assets/images/fundo-banner-desktop.png);
        background-size: cover;
        background-position: top;

    }

    main .banner h1 {
        font-size: 80px;
    }

    /* Sessão de Jogos */
    main .jogos {
        height: 500px;
    }

    main .jogos .jogos-flex {
        flex-direction: row;
    }

    main .jogos .jogos-flex img {
        width: 555px;
    }

}