/* import da fonte */
@font-face {
    font-family: BebasNeue-Regular;
    /*apelido ou nome da fonte*/
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apenas para centralizar conteúdos */
.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid green; */
}

body {
    background-color: #080324;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

header {
    background-color: #F9003D;
    height: 60px;
}

/* flexbox no cabeçalho */
header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
    /* border: 2px solid white; */
}

header nav a {
    padding: 15px 25px;
    border-radius: 5px;
    /* border: 1px solid white; */
    font-family: "BebasNeue-Regular";
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* ao passar do maouse */
header nav a:hover {
    background-color: white;
    color: #F9003D;
}

/* Main */
main .banner {
    width: 100%;
    height: 740px;
    color: white;

    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
main .banner-flex {
    display: flex;
    align-items: center;
}

main .banner #bannerinfo {
    width: 550px;
    /* border: 2px solid yellow; */
}

main .banner #bannerinfo h1 {
    margin-bottom: 40px;
    padding-bottom: 30px;
    font-family: "BebasNeue-Regular";
    font-size: 96px;
    border-bottom: 2px solid #FFAF00;
}

main .banner #bannerinfo p {
    margin-bottom: 40px;
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;
}


/* Sobre */
.sobre {
    padding: 60px 0;
}
.sobre .sobre-flex {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .sobrebox {
    width: 500px;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .sobrebox h2 {
    margin-bottom: 40px;
    font-family: BebasNeue-Regular;
    font-size: 64px;
    color: #F9003D;
}

.sobre .sobre-flex .participantes {
    width: 640px;
    /* border: 2px solid red; */
}

.sobre .sobre-flex .participantes h3 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}

.sobre .sobre-flex .participantes h4 {
    margin-bottom: 20px;
    font-family: BebasNeue-Regular;
    font-size: 64px;
    color: #FFAF00;
}

.sobre .sobre-flex .participantes p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}