@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/* font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */

/* reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classes genéricas */
.grid-layout {
    width: 80%; 
    margin: 0 auto;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: #EDECED;
}

header {
    background-color: #676767;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    text-transform: lowercase;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

header h1 #logoux {
    text-transform: inherit;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    /* border: 2px solid white; */
}

header nav a {
    color: white;
    text-decoration: none;
}

/****** Main ******/
main {
    padding-top: 20px;
}
main #lapis {
    width: 100%;
}

main .colunas-flex {
    display: flex;
    justify-content: space-between;
}

/* section */
main .coluna1 {
    width: 75%;
    background-color: white;
}

/* aside */
main .coluna2 {
    width: 23%;
}

/* articles */
main .coluna2 article {
    margin-bottom: 20px;
    background-color: white;
}