/* Mobile First */

/* Main */

main {
    margin-top: 60px;
    height: 1403px;
    background-image: url(../assets/fundo-jogadores-mobile.png);
    background-size: contain;
    background-position: top;
}







/* FORMULÁRIO DE CADASTRO DE EQUIPES */
main .cadastro-equipes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
    height: 100%;

    padding: 80px 0 130px;

}

main .cadastro-equipes::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, .01);
    backdrop-filter: blur(1px);
}



/* Form cadastro */

main .cadastro-equipes .frm-cad-equipe {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 650px; */

    /* efeito da borda e do fundo glass */
    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(27, 20, 38, .8), rgba(60, 3, 65, .38)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);
}

/* Título */
main .cadastro-equipes .frm-cad-equipe .cadequipe-titulo {
    margin-bottom: 40px;
}
main .cadastro-equipes .frm-cad-equipe .cadequipe-titulo h1 {
    font-family: TitilliumWeb-Black, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

main .cadastro-equipes .frm-cad-equipe .cadequipe-titulo hr {
    width: 80%;
    margin: 10px auto 20px;
    border: 1px solid #F9AA01;
}


main .cadastro-equipes .frm-cad-equipe .campo-entrada {
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    padding: 5px 10px;
    /* font-size: 22px; */
    color: white;
    outline: none;

    font-family: TitilliumWeb-Thin, sans-serif;
    font-size: 16px;

    /* efeito da borda e do fundo glass */
    border: 1px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(27, 20, 38, .8), rgba(60, 3, 65, .38)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);
}

.frm-cad-equipe .campo-entrada::placeholder {
    color: white;
}


/* File Field */

main .cadastro-equipes .frm-cad-equipe .foto input { 
    display: none;
}
main .cadastro-equipes .frm-cad-equipe .foto {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    width: 100%;
}
main .cadastro-equipes .frm-cad-equipe .foto::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Imagem da Equipe";
    background-color: #D9D9D9;
    color: black;
    width: 124px;
    height: 40px;
    margin-top: 10px;
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 13px;
    border-radius: 8px;
}



/* button */
main .cadastro-equipes .frm-cad-equipe button {
    width: 100%;
    height: 40px;
    background-color: #F9AA01;
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 24px;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
}


/* TABELA CADASTRO DE EQUIPES */
main .cadastro-equipes table {
    width: 100%;
    position: relative;
    z-index: 2;
    /* border: 1px solid white; */
}

/* tbody */
main .cadastro-equipes thead,
main .cadastro-equipes tbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* linha do cabeçalho da tabela */
main .cadastro-equipes thead tr {
    margin-bottom: 30px;
    border-bottom: 3px solid #F9AA01;
}

/* linha do cabeçalho */
main .cadastro-equipes table thead th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50px;
    color: #F9AA01;
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    text-transform: uppercase;

}

/* linhas da tabela, independentemente do cabeçalho ou corpo */
main .cadastro-equipes table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .cadastro-equipes table tbody tr {
    height: 70px;
    margin-bottom: 20px;
    /* efeito da borda e do fundo glass */
    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);


}

main .cadastro-equipes table td {
    width: 100%;
    height: 38px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #F9AA01;
}

main .cadastro-equipes table td:last-of-type {
    border: none;
}

main .cadastro-equipes table td img.green-play {
    width: 25px;
}

main .cadastro-equipes table td img.yellow-trash {
    width: 15px;
}



/* Desktop */
@media screen and (min-width: 992px) {
    .container-grid {
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
        /* border: 1px solid #EC4358; */
    }
    main {
        background-image: url(../images/background-jogadores.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    main .cadastro-equipes .frm-cad-equipe {
        width: 800px;
    }
    main .cadastro-equipes .frm-cad-equipe button {
        max-width: 243px;
    }
    main .cadastro-equipes table {
        width: 800px;
    }
}