/* Imports de fonts */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}

/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
}

header .header-top {
    display: none;
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}


header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}


header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    height: 170px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: right 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* MAIN */

main {
    margin-top: 60px;
}

/* Banner */

main .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 606px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(../assets/images/fundo-banner-mobile.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

main .banner h1 {
    font-family: TitilliumWeb-Black;
    font-size: 40px;
    text-shadow: 0 0 7px #FD4255;
}

main .banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    font-family: TitilliumWeb-Bold;
    font-size: 24px;
    color: black;
    text-decoration: none;
    background-color: #F9AA01;
    border-radius: 8px;
}

/* Sessão Jogos */

main .jogos {
    width: 100%;
    height: 590px;
    background-color: #1B1426;
}

main .jogos .jogos-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* Tablets >= 768px */
@media screen and (min-width: 768px) {}

/* Desktop >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    /* header */
    header {
        position: static;
        height: 140px;
    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        /* border: 2px solid #FD4255; */
    }

    /* divs .phone, .mail */
    header .header-top .contatos > div {
        display: flex;
        gap: 10px;
        width: 200px;
        /* border-bottom: 2px solid #F9AA01; */
    }

    header .header-top .midias-sociais {
        width: 140px;
        display: flex;
        justify-content: space-between;
        /* border: 2px solid #FD4255; */
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
        justify-content: space-between;
    }

    header .header-bottom nav>a {
        font-size: 14px;
        padding: 0;
        border: none;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 140px;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        background-image: none;
    }

    /* MAIN */
    main {
        margin-top: 0;
    }
}