/* imports  */

@font-face {
    font-family: ABeeZee-Regular;
    src: url(../assets/fonts/ABeeZee/ABeeZee-Regular.ttf);
}

@font-face {
    font-family: Abel-Regular;
    src: url(../assets/fonts/Abel/Abel-Regular.ttf);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Open-Sans;
    src: url(../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}



/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DESKTOP FIRST */

/* Classes Genéricas */

.layout-grid {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    /* border: 2px solid yellow; */
}

/* título que só deverar ser exibido no mobile */
.participantes-up {
    display: none;
}

body {
    background-color: #080324;
    color: white;
}

/* HEADER */

header {
    height: 100px;
    background-color: #F9003D;
    
}


header .header-flex {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 100%;
}

/* logotipo */
header .logo {
    width: 220px;
    height: 80px;
    position: absolute;
    bottom: calc(0px - 40px);
    left: 0;
    border-radius: 5px;
    transform: rotate( -10deg);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.3);
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    /* border: 3px solid white; */
}

header nav a {
    font-family: "My Font";
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 20px black;
    padding: 15px 20px;
    border-radius: 5px;
}

header nav a:hover {
    text-shadow: 0px 0px 5px rgba(249, 0, 61, 0.3);
    background-color: white;
    color: #F9003D;
}

header #menu-mobile {
    display: none;
}

/* MAIN */

/* banner */
main .banner {
    height: 740px;
    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main .banner-flex {
    display: flex;
    align-items: center;
    height: 100%;
    /* border: 3px solid white; */
}

main .banner-flex #banner-infobox {
    width: 560px;
}

main .banner-flex h1 {
    margin-bottom: 40px;
    font-family: BebasNeue-Regular, sans-serif;
    font-size: 96px;
    color: white;
}

main .banner-flex p {
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;
}


/* sobre */
main .sobre {
    padding: 40px 0 60px;
}

main .sobre h2 {
    margin-bottom: 40px;
    font-family: BebasNeue-Regular;
    font-size: 64px;
    color: #F9003D;
}

main .sobre .linha {
    display: flex;
    justify-content: space-between;
}

main .sobre .linha img {
    width: 490px;
}

main .sobre .linha .participantes {
    width: 590px;
    /* border: 2px solid yellow; */
}

main .sobre .linha .participantes h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

main .sobre .linha .participantes h4 {
    margin-bottom: 20px;
    font-family: BebasNeue-Regular;
    font-size: 64px;
    color: #FFAF00;
}

main .sobre .linha .participantes p {
    font-family: Open-Sans;
    font-weight: 300;
    font-size: 18px;
}


/* section local */
main .local {
    width: 100%;
    height: 200px;
    padding: 20px 0;
    background-image: url(../assets/images/imagem-fundo-info.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

main .local .local-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .local .local-flex article {
    width: 289px;
}

main .local .local-flex article h3 {
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
}

main .local .local-flex article p {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A259F7;
    border: 1px solid #A259F7;
    font-size: 28px;
}


/* Footer */
footer .endereco {
    padding: 60px 0;
    background-image: url(../assets/images/imagem-fundo-endereco.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer .endereco-flex {
    background-color: white;
    color: black;
}

footer .endereco-box {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 80px;
    background-color: white;

}

footer .endereco h1 {
    font-family: BebasNeue-Regular, sans-serif;
    font-size: 64px;
    color: #FFAF00;
}

footer .endereco p {
    width: 485px;
    font-family: 'Courier New', Courier, monospace;
    color: #A259F7;
}

footer .endereco #mapa {
    position: absolute;
    right: 40px;
    top: -60px;
}

footer .rights {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    background-color: #F9003D;
    color: white;
}

footer .rights p {
    text-align: center;
}




/*************** MEDIA QUERIES ***************/

/* tablets >= 768px até 991px */
@media screen and (max-width: 991px) {}

/* smartphones >= 0 até 767px */
@media screen and (max-width: 767px) {

    /* Classes Genéricas */
    .layout-grid {
        max-width: 355px;
    }

    .mostrarMenu {
        left: 0;
        opacity: 1;
    }

    /* HEADER */
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 60px;
    }

    header .logo {
        width: 160px;
    }

    header #menu-mobile {
        display: block;
    }

    header nav {
        position: fixed;
        top: 60px;
        left: -80vw;
        width: 80vw;
        /* viewport width */
        height: calc(100vh - 60px);
        /* viewport height */
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #F9003D;
        opacity: 0;

        transition: left 0.4s, opacity 0.6s;
    }

    header nav a {
        width: 180px;
        border-left: 2px dashed #ffffff;
        border-radius: 0;
        text-align: center;
    }

    /* MAIN */
    main {
        margin-top: 60px;
    }

    /* BANNER */
    main .banner {
        max-height: 528px;
        background-image: url(../assets/images/imagem-sessao-sobre-mobile.png);
        background-position: right;
    }

    main .banner-flex {
        justify-content: center;
        align-items: flex-start;
        padding-top: 80px;
    }

    main .banner-flex h1 {
        font-size: 40px;
        text-align: justify;
        max-width: 260px;
    }

    main .banner-flex p {
        font-family: ABeeZee-Regular;
        font-weight: 400;
    }

    main .banner-flex #banner-infobox {
        max-width: 355px;
    }

    main .banner-flex #banner-infobox img {
        display: none;
    }


    /* SOBRE */
    main .sobre h2 {
        font-size: 35px;
    }

    /* exibe o texto participantes junto com o título SOBRE OS PROJETOS */
    .participantes-up {
        display: block;
        font-family: 'Courier New', Courier, monospace;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 50px;
    }

    main .sobre .linha {

        flex-direction: column;
    }

    main .sobre .linha img {
        max-width: 365px;
    }

    main .sobre .linha .participantes {
        width: 100%;
    }

    main .sobre .linha .participantes h4 {
        margin-top: 20px;
        font-size: 30px;
    }

    main .sobre .linha .participantes h3 {
        display: none;
    }

    /* LOCAL */
    main .local {
        height: auto;
        /* Retira a imagem de fundo */
        background-image: none;
    }

    main .local .local-flex {
        flex-direction: column;
    }

    footer .endereco h1 {
        font-size: 40px;
    }

    footer .endereco-box {
        padding: 25px 20px;
        background-color: transparent;
        border: 1px solid #340B65;
    }

    footer .endereco p {
        font-family: Abel-Regular;
        width: 100%;
        max-width: 300px;
        font-size: 24px;
    }

    footer .endereco #mapa {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

}

/* FIM DA MEDIA QUERIE DO MOBILE */