@model Equipe

@{
    ViewData["Title"] = "Equipe";
}

<h1>Tela de Equipes</h1>


<form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">

    <label for="">Nome</label>
    <input type="text" name="Nome">

    <label for="">Imagem</label>
    <input type="file" name="Imagem">
    

    <button type="submit">Cadastrar</button>

</form>


<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
    </thead>

    <tbody>

        @foreach (Equipe equipe in ViewBag.Equipe)
        {
            <tr>
                <td>@equipe.IdEquipe</td>
                <td>@equipe.Nome</td>
                <td>
                    <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px">   
                </td>
            </tr>            
        }

    </tbody>

</table>