@{
    ViewData["Title"] = "Gamer - Home";
}

<!-- BANNER LIGA GAMERS -->
    <section class="banner">
        <h2>Liga Gamers</h2>
        <a href="#" class="btn-sobreliga">Sobre</a>
    </section>

        <!-- CARD JOGOS -->
    <section >
        <div class="container-grid card-jogos">
            <img src="~/images/Game-FIFA.png" alt="Fifa 23">
            <img src="~/images/Game-CS-GO.png" alt="Úlimo Jogo">
        </div>
    </section>

    <!-- PROGAMER -->
    <section class="progamer">
        <div class="container-grid progamer-flex">
            <div class="progamer-title">
                <h2>Entre para o time progamer</h2>
                <hr>
            </div>

            <!-- efeito borda gradient -->
            <div class="gamers">
                <img src="~/images/kiljoy.png" alt="Gamer 1">
                <div class="card-bkg" id="jogos-diferentes">
                    <article class="produto">
                        <img src="~/assets/joystick-icon.svg" alt="Icone Joystick">
                        <h3>20 Jogos Diferentes</h3>
                        <p>São mais de 20 jogos em 2 plataformas dispóniveis para que você possa aprender melhores
                            técnicas.</p>
                    </article>
                </div>
            </div>

            <div class="gamers">
                <img src="~/images/lade-lol.png" alt="Gamer 2">
                <div class="card-bkg" id="professores">
                    <article class="produto">
                        <img src="~/assets/joystick-prof-icon.svg" alt="Icone Joystick">
                        <h3>53 Professores</h3>
                        <p>Temos 53 Proplayers no nosso time para ensinar todas as es- tratégias, você vai aprender do
                            básico ao avançado. <br>
                            Tempo de treinamento, des- canso, equipamentos.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- NOTÍCIAS -->
    <section class="noticias" id="noticias">
        <div class="container-grid noticias-flex">
            <div>
                <h2>Notícias</h2>
                <hr>
            </div>

            <article class="card-noticia">
                <img src="~/images/noticia1.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>

            <article class="card-noticia">
                <img src="~/images/noticia2.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>

            <article class="card-noticia">
                <img src="~/images/noticia3.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>

            <article class="card-noticia">
                <img src="~/images/noticia4.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>

            <article class="card-noticia">
                <img src="~/images/noticia5.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>

            <article class="card-noticia">
                <img src="~/images/noticia6.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>

            <article class="card-noticia">
                <img src="~/images/noticia7.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>

            <article class="card-noticia">
                <img src="~/images/noticia8.png" alt="Notícia 1">
                <h3>Título da Notícia</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since.</p>
            </article>
        </div>
    </section>
