@model Jogador

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css">

<main class="fundo-login">
        <div class="bkg-login">
            <form class="frm-login" method="POST" action="@Url.Action("Logar")">
                <div class="login-title">
                    <hr class="login-line">
                    <h1>Login</h1>
                </div>
                <div class="frm-linha">
                    <div class="bkg-input">
                        <img src="~/assets/vector-user.svg" alt="ícone de usuário">
                        <input type="email" id="email" placeholder="Digite seu e-mail:" name="Email" autocomplete="off" required>
                    </div>
                </div>
                <div class="frm-linha">
                    <div class="bkg-input">
                        <img src="~/assets/vector-key.svg" alt="ícone de chave">
                        <input type="password" id="password" placeholder="Digite sua senha:" name="Senha" required>
                    </div>
                </div>

                <button class="btn-logar" type="submit">Logar</button>
                <br>
                <span>@TempData.Peek("Mensagem")</span>
            </form>
        </div>

    </main>